[submodule "external/CascLib"]
	path = external/CascLib
	url = https://github.com/ladislav-zezula/CascLib.git
[submodule "external/imgui"]
	path = external/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/glad"]
	path = external/glad
	url = https://github.com/Dav1dde/glad
